body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding-bottom: 30px;
}

header {
    background-color: #337AB7;
    margin: auto;
    border-radius: 0 0 5px 5px;
}

nav {
    width: 1000px;
    margin: auto;
}

nav ul {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #F6F9FC;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover {
    background: #FFF;
    color: #000;
}

#currentTab {
    background: #FFF;
    color: #000;
    font-weight: bold;
}

main {
    margin: auto;
    width: 976px;
    padding: 0 20px;
}

.breadcrumbs {
    margin-top: 10px;
    font-size: 16px;
}

.breadcrumbs a {
    color: #337AB8;
}

.breadcrumbs-splitter {
    margin: 0 5px;
}

article h1 {
    color: #777777;
    margin-top: 25px;
    margin-bottom: 6px;
    font-size: 28px;
    font-weight: bold;
}

#post {
    border: 1px solid #999;
    padding: 12px;
}

#post p {
    line-height: 1.2;
    margin: 0;
}

#postEntry {
    overflow: auto;
    font-weight: bold;
}

#postEntry p {
    margin-bottom: 5px;
}

#postEntry img {
    display: block;
    float: left;
    padding-right: 21px;
    padding-bottom: 6px;
}

#post table {
    border-collapse: collapse;
    border-spacing: 0p;
    margin-top: 15px;
}

#post caption {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 6px;
}

#post td, th {
    border: 1px solid #DDD;
    padding: 8px; 
    line-height: 1.4;
}

#post th {
    text-align: right;
    vertical-align: text-top;
    font-weight: bold;
    border-left: none;
}

#post td {
    border-right: none;
}

.article-meta {
    text-align: right;
    font-style: italic;
    margin: 6px 0;
    height: 25px;
}

.post-author {
    text-decoration: none;
    color: #217CB6;
}

.article-posting-time {
    font-weight: bold;
    margin-left: 25px;
}

.comments-box {
    margin: 20px 0;
}

#commentsCount {
    font-weight: bold;
    color: #666;
    margin: 0;
    border-bottom: 1px dotted #000;
}

.comment {
    width: 400px;
    margin-top: 20px;
}

.comment:first-child {
    margin-top: 0;
}

.answers {
    padding: 5px 0 2px 40px;
    border-left: 1px dotted #000;
    margin-top: 7px;
}

.comment-author {
    font-weight: bold;
}

.comment-text {
    margin: 13px 0;
}

.comment-posting-time {
    margin-left: 25px;
    font-size: 14px;
}

.comment-posting-time > time {
    font-weight: bold;
    color: #777
}

.reply, .complain {
    font-size: 14px;
}

.complain {
    float: right;
    color: #A52A2A;
}

.leave-comment-box > h3 {
    color: #555;
    margin: 20px 0;
}

#commentForm {
    width: 400px;
}

#dataEntry {
    width: 385px;
}

#dataEntry > div {
    margin-bottom: 10px;
}

#commentForm label {
    width: 70px;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}

#dataEntry label[for="gender"] {
    width: 105px;
}

#dataEntry label[for=commentText] {
    vertical-align: top;
}

.required:after {
    content: "*";
    color: red;
}

#commentForm input, 
#commentForm select,
#commentForm textarea {
    border-radius: 3px;
    border: 1px solid #ccc;
}

#commentForm input,
#commentForm textarea {
    padding: 5px 10px;
}

#name {
    width: 275px;
}

#age {
    width: 50px;
}

#commentForm select {
    width: 100px;
    padding: 3px;
}

#commentForm textarea {
    width: 275px;
    height: 72px; 
    resize: none;
}

.conditions {
    margin: 0;
}

#buttonElement {
    text-align: right;
}

#buttonElement input {
    font-size: 15px;
    padding: 5px 12px;
    background-color: #FFF;
}